.comment-list {
    border-radius: 18px;
    box-shadow: 0 14px 30px -18px rgb(0 0 0 / 30%);
    transition: all 300ms ease;

    &:hover {
        transform: translate(0px, -5px);
    }

    &:nth-child(odd) {
        background-color: #5f9ea0;
        color: #fff;
    }
    &:nth-child(even) {
        background-color: #fff;
        color: rgba(24, 23, 23, 0.712);
        border: 1px solid #5f9ea0;
    }

    .custom-border {
        border-left: 2px solid #b5abab;
        padding-left: 1em;
        display: block;
        word-break: break-all;
    }
}
#back {
    text-decoration: none !important;
    color: rgba(24, 23, 23, 0.712) !important;

    &:hover{
        text-decoration: #5f9ea0 !important;
        color: #5f9ea0;
    }
}

@media only screen and (max-device-width: 767px) {
    .custom-border {
        border-left: none !important;
        padding-left: 0 !important;
    }
}
