/* You can add global styles to this file, and also import other style files */

.underline {
    letter-spacing: 1.1px;
    position: relative;
    display: inline-block;
    border-bottom: solid 2px #57b9a8;
}

.underline:after {
    display: block;
    content: "";
    border-bottom: solid 2px #57b9a8;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
    padding-top: 5px;
}
html ,body{
    background-color: #f7f7f7;
}
